/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body>* {
    flex_shrink: 0;
}


/*sign in page*/

.sign-up {
    background-color: #7EA8BE;
}

.about-page {
    background-color: #F6F0ED;
    font-family: Lora;
    flex-grow: 1;
}

.front-page-nav {
    background-color: #F6F0ED;
}

.front-page {
    background-color: #C2948A;
}

.cards {
    background-color: #F6F0ED;
    max-width: 275px;
    max-height: 275px;
}

.preview-images {
    min-width: 90px;
    min-height: 90px;
    max-width: 96px;
    max-height: 96px;
}

.edit-page {
    background-color: #7EA8BE;
}
